mwl-demo-component {
  .button1 {
    background-color: blue;
  }
  .button2 {
    background-color: grey;
  }

  .select {
    border: 1px solid silver;
    background-color: ghostwhite;
    border-radius: 2px;
  }
  ion-select {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 11%;
    margin: 31px;
    float: right;
  }
  .select-md .select-icon {
    position: relative;
    width: 21px;
    height: 8px;
  }
  .select-md .select-icon .select-icon-inner {
    position: absolute;
    top: 20%;
    left: 0px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 15px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #999;
    pointer-events: none;
    border-radius: 4px;
  }

  .cal-month-view .cal-event {
    width: 59px;
    height: 17px;
    border-radius: 11%;
    display: inline-block;
    margin: 2px;
  }

  .card-md {
    margin: 10px 10px 10px 50px;
    width: 65%;
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .active {
    color: #0073cf !important;
    border-color: #0073cf !important;
  }

  .segment-md .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 6px;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
  }
  .scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #b8b8b8;
    will-change: scroll-position;
    contain: size style layout;
  }
#month{
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  color:black;
}
  #outer
  {
    width:100%;
    text-align: center;
  }
  .inner
  {
    display: inline-block;
  }
  .col1 {
    position: relative;
    padding: 10px;
    width: 100%;
    margin-left: 30%;
    /* min-height: 77px; */
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    /* -webkit-flex-grow: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    max-width: 100%;
  }
  .col2{
    position: relative;
    padding: 10px;
    width: 100%;
/*margin-left:30%;
    margin-right:30%;*/
    /* min-height: 77px; */
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    /* -webkit-flex-grow: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    max-width: 100%;
  }
  .col3{
    position: relative;
    padding: 10px;
    width: 100%;
        margin-right:20%;
    /* min-height: 77px; */
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    /* -webkit-flex-grow: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    max-width: 100%;
  }
  ion-icon {
    display: inline-block;
    font-size: 2.2em;
  }
.peopleHr{
  color:dodgerblue;
  border-bottom: 2px solid orange;
  width:20%;
}
}
.pay-check-info{
  position: absolute;
  padding: 5px 0;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  left: 5px;
  right: 35px;
}
mwl-calendar-month-cell{
  position: relative;
  .start_date{
    @extend .pay-check-info;
    background: green;
    top: 5px;
  }
  .end_date{
    @extend .pay-check-info;
    background: red;
    bottom: 5px;
  }
}
