page-notifications {
 .toolbar-background-md {
    border-color: #b2b2b2;
    background: black !important;
  }
  .toolbar-title-md {
    font-size: 2rem;
    color: white !important;
  }
  .bar-button-default-md {
    color: white !important;
    background-color: transparent;
  }
}

 
