<ion-menu side="left" [content]="content">
  <ion-header>
    <img src="assets/navigation.png" />
  </ion-header>
  <ion-content class="backColor">
    <ion-list no-lines>
      <button class="backColor"  ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)" >
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
   <button ion-item class="activeHighlight" class="logout" (click)="logout()">
       <ion-icon name="log-out" item-left ></ion-icon>
        Logout
      </button>
  </ion-footer>
</ion-menu>
<!--
<div role="navigation" class="menu-enabled" [ngClass]="{'open-menu': isShowMenu}">
  <div class="menu-inner">
    <ion-header>
      <img src="assets/navigation.png" />
    </ion-header>
    <ion-content class="backColor">
      <ion-list no-lines>
        <button class="backColor"  ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)" >
          <ion-icon name="{{p.icon}}" item-left></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
    <ion-footer>
      <button ion-item class="activeHighlight" class="logout" (click)="logout()">
        <ion-icon name="log-out" item-left ></ion-icon>
        Logout
      </button>
    </ion-footer>
  </div>
</div>
-->



<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
